<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rakuten.tech.mobile.miniapp.testapp">

    <application
        android:name="com.rakuten.tech.mobile.testapp.SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.rakuten.tech.mobile.testapp.ui.miniapplist.MiniAppListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.rakuten.tech.mobile.testapp.ui.display.CustomSchemeInputActivity">
            <intent-filter android:label="@string/custom_filter_oneapp_chat">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "oneapp://chat” -->
                <data
                    android:host="chat"
                    android:scheme="oneapp" />
            </intent-filter>
            <intent-filter android:label="@string/custom_filter_oneapp_chat_https">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.oneapp.com/chat” -->
                <data
                    android:host="www.oneapp.com"
                    android:pathPrefix="/chat"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>

        <activity android:name="com.rakuten.tech.mobile.testapp.ui.display.MiniAppDisplayActivity" />

        <activity
            android:name="com.rakuten.tech.mobile.testapp.ui.input.MiniAppInputActivity"
            android:label="@string/action_go_input" />

        <meta-data
            android:name="com.rakuten.tech.mobile.miniapp.BaseUrl"
            android:value="${baseUrl}" />
        <meta-data
            android:name="com.rakuten.tech.mobile.miniapp.HostAppVersion"
            android:value="${hostAppVersion}" />
        <meta-data
            android:name="com.rakuten.tech.mobile.ras.AppId"
            android:value="${appId}" />
        <meta-data
            android:name="com.rakuten.tech.mobile.ras.ProjectSubscriptionKey"
            android:value="${subscriptionKey}" />
    </application>

</manifest>